html,body
{
    height:100%;
}
body{
    display:flex;
    flex-direction:column;
}
footer{
    
    text-align:center;
    color:white;
    background-color: rgba(4, 4, 119, 0.841);
    margin-top:auto;
}
.img{
    display:flex;
}
.right
{
    width:900px;
    height: auto;
    margin-right: 10px;
}
.footer-left a
{
    text-align: left;
    display:block;
    color: white;
    margin-bottom: 6px;
    text-decoration: none;
}
.footer-right h4{
    text-align: right;
    margin-bottom: 8px;
    font-size: 18px;
}
.footer-right p{
    text-align: right;
    margin: 3px 0;
}
.Footer-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card-container{
 
  color: black;
  display: block;
}

.card-body{
    height: 100%;
  border: 2px solid transparent;  
padding: 20px;
  transition: border-color 0.3s ease;
  cursor: pointer;
  
}

.card-body:hover {
  border-color: #007bff;   
}
.bussiness-img{
    width:100%;
    height:200px;
    object-fit: cover;
    display: block;
}
